.conteiner-img-404{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto auto;
    height: 100vh;
        img {
         width: 50em;
         height: 100%;
        }
        button{
            position: absolute;
            top:10%;
            left:10%;
            padding: 1em;
            border: none;
            color: black;
            background-color: rgb(255, 153, 0,0.5);
            border-radius: 10px;
            box-shadow: $showdS;
            cursor: pointer;
                &:hover{
                    transition: 1s;
                    background-color: rgb(255, 153, 0,0.7);
                }
                &:active{
                    transition: transform 0.2s;
                    transform: translateY(2px);
                    box-shadow: none;
                  }
        }

}