.formulrio_conteiner{
    text-align: center;
    font-family:$textoS;
    color:$colorT;
                h2{
                    margin-top: 0;
                }
}

.formulrio_conteiner-datos{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
            input{
                border: none;
                box-shadow: $showdS;
                margin-bottom: 1em;
                padding: 0.5em 1em;
                border-radius: 10px;
                outline: none;
            }
}

.formulrio_conteiner-mensaje{
    display: flex;
    margin: 0 auto;
    font-size: 0.8em;
    width: 30vw;
    margin-bottom: 1em;
    color: white;
    box-sizing: border-box;
    padding-left: 0.5em;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(255, 0, 0,0.7);
    font-weight: bold;
}
.formulrio_texto-label{
    text-transform: capitalize;
    min-width: 70px;
}

.formulrio_boton-formulario{
    margin-top: 1em;
    border: none;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
}