.conteiner-banner {
  width: 100%;
  height: 40em;
}

.conteiner-banner img {
  width: 100%;
  height: 100%;
}

.titulo-banner {
  position: absolute;
  top: 12%;
  left: 10%;
  color: white;
  font-size: 5em;
  font-family: "Pacifico", cursive;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

